
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.header-container {
    height: 110px;
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
    
}
#logo {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    
}
#nav div {
    margin-left: 10px;
}
.showcase-container {
    height: 410px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;

}

#info {
    width: 200px;
}

#showcase-image img {
    width: 500px
    
}

.information-container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: white;
    color: white;
    
}

.info-item {
    height: 50px;
    width: 100px;
    justify-content: space-around;
    
}

.extra-container{
    height: 400px;
    background-color: #E5E7EB;
    color: white;
}

.callback-container{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email {
    height: 70px;
    width: 600px;
}

footer {
    background-color: #1F2937;
    color: white;
    height: 10px;
    text-align: center;
    padding: 50px;
}
